#root {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #777;
}

header h1 {
}

.header-title {
  margin: 2rem auto 1rem auto;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}

h1,
h2 {
  text-shadow: 7px 7px 7px black;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-graphs-container {
  display: flex;
}
